/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    width: 100%;
    text-align: right;
   ;
    
    
}

.inlineContent{
    justify-content: space-between;
    flex-direction: row;
    display: inline-block;
    margin-right: 15px
}

.img-log {
    position: absolute;
    top: -15%;
    left: 0%;
    width: 150px;
    height: auto;
    margin: 10px;
}

 header {
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    size: auto;
    height: 700px;
    width: 100;
    color: white;
}

h1{
    text-align: center;
    font-size: 4em;
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    
}

.text-background{
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    top: 60%;
    left: 25%;
    width: 50%;
    
    
}

h2{
    text-align: center;
    color: 1A1A1A;
    font-size: 2em;
    text-decoration: underline #00B172;
    margin-bottom: 60px;

}

h3{
    text-align: center;
    color: #00B172;
    font-size: 1.5em;
    margin-top: 15px;
}

.text-icons{
    font-size: 1.3em;
    width: 60%;
    text-align: center;
    margin-top: 3px;
}
.million-songs{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.million-songs img {
    width: 120px;
    height: auto;
}


.hd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hd img {
    width: 120px;
    height: auto;
}

.stream{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stream img {
    width: 120px;
    height: auto;
}

.icons-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 70px 40px 70px;

}





#green-background{
    background-color: #00B172;
    color: white;
    border: 30px 40px 30px 40px;
    padding: 40px 40px;
    height: 600px;
    margin: 80px 30px 80px 30px;
    
}


h4{
    font-size: 2em;
    color:white;
    text-decoration: underline;
    

}

h5{
    font-size: 1.5em;
    color: white;
}

.text-green{
    font-size: 1.3em;
    width: 30%;
   
}



.logo-container {
    position: absolute;
    top: 215%;
    left: 45%;
    width: 10%;

}

.kanye-img{
    position: absolute;
    top: 195%;
    left: 70%;
    width: auto;
    height: 500px;
}

